<app-header></app-header>

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3>About Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<app-home-about-area></app-home-about-area>

<app-home-delicious-area></app-home-delicious-area>
<app-home-testimonial-area></app-home-testimonial-area>
<app-home-reservation-area></app-home-reservation-area>