<div class="testimonial_area overlay ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <p>Testimonials</p>
                    <h3>Our Customer’s Say</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="single_testmonial ">
                            <div class="author_opinion">
                                <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                    neque.</p>
                            </div>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="../../../../assets/img/testimonial/author.png" alt="">
                                </div>
                                <div class="name">
                                    <h3>Robert Thomson</h3>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial ">
                            <div class="author_opinion">
                                <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                    neque.</p>
                            </div>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="../../../../assets/img/testimonial/author2.png" alt="">
                                </div>
                                <div class="name">
                                    <h3>Kristiana Chouhan</h3>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial ">
                            <div class="author_opinion">
                                <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                    neque.</p>
                            </div>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="../../../../assets/img/testimonial/author2.png" alt="">
                                </div>
                                <div class="name">
                                    <h3>Kristiana Chouhan</h3>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial ">
                            <div class="author_opinion">
                                <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                    neque.</p>
                            </div>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="../../../../assets/img/testimonial/author.png" alt="">
                                </div>
                                <div class="name">
                                    <h3>Robert Thomson</h3>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="single_testmonial ">
                            <div class="author_opinion">
                                <p>“Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                    sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed
                                    neque.</p>
                            </div>
                            <div class="testmonial_author">
                                <div class="thumb">
                                    <img src="../../../../assets/img/testimonial/author2.png" alt="">
                                </div>
                                <div class="name">
                                    <h3>Kristiana Chouhan</h3>
                                    <div class="icon">
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                        <a href="#"><i class="fa fa-star"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>